<template>
  <div class="layout-menu">
      <Header/>
      <Nuxt />

  </div>
</template>

<script>
import Header from '../components/header.vue';

export default {
  components: {
    Header
  }
}
</script>