import Header from './../components/header'

<template>
  <div class="h-100 bg-blue-cold justify-content-center position-relative mt-3">
      <div class="login-bg"></div>
    <div class="container col-sm-9 col-xs-5 text-light flex flex-lg-row">
      <span>
      <img class="login-bg float-left mr-3" src="https://media.discordapp.net/attachments/625979098564657153/811991239046070312/logo_de_la_rando-Recupere.png"/>

      <h1>Hill Climber</h1>
      <h2 class="txt">L'évasion, partout avec vous !</h2>
      </span>
    </div>

    <div class="container col-10 mt-4">
      <div
        class="container col-sm-5 col-xs-6 text-light bg-blue-deep rounded p-4"
      >
        <h3 class="h3 mb-2 txt-green">Login</h3>
        <form method="get" action="/main" class="txt txt-green font-large">
          <div class="form-group">
            <label class="col-form-label" for="username">Username</label>
            <input
              type="text"
              class="form-control bg-blue-cold"
              name="Username"
              id="username"
              placeholder="Username"
              required
            />
          </div>
          <div class="form-group">
            <label class="col-form-label" for="password">Password</label>
            <input
              type="password"
              class="form-control bg-blue-cold"
              name="Password"
              id="password"
              placeholder="Password"
              required
            />
          </div>
            <input
              type="submit"
              value="Submit"
              class="btn text-light bg-green mt-1 btn-hover"
            /><br />
            <input
              type="submit"
              value="Connexion avec Google"
              class="btn text-light bg-google mt-1 btn-hover"
            /><br />
            <input
              type="submit"
              value="Connexion avec Facebook"
              class="btn text-light bg-facebook mt-1 btn-hover"
            /><br />
            <input
              type="submit"
              value="Connexion avec Twitter"
              class="btn text-light bg-twitter mt-1 btn-hover"
            /><br />
            <input
              type="submit"
              value="Créer un compte"
              class="btn text-light bg-secondary mt-1 btn-hover"
            />
        </form>
      </div>
    </div>
  </div>
</template>


<script>
/*export default {
    async asyncData(ctx)
    {
        //const users = await ctx.$axios.$get('http://localhost:3030/users')
        //return {
        //    users: users,
        //}
    },
}*/






</script>