<template>
<div class="w-100 bg-blue-deep">
  <div class="container col-10 justify-content-center">
    <div class="container col-6">
        <div id="card" style="width:640px;">
      <el-row
        :span="8"
        v-for="(o, index) in 2"
        :key="o"
        :offset="index > 0 ? 2 : 0"
        class="justify-content-center mb-3"
      >
        <el-card class=" bg-green">
          <div class="txt">{{"placeholder name"}}</div>
          <img
            src="https://images-ext-2.discordapp.net/external/dUj742YsZ2Zmzfda8bLZbb9ioBhbr0n0wfDX4lfZI0c/https/media.discordapp.net/attachments/811589158195429427/811939665779228682/nej1.png"
            class="image rounded"
          />
          <div style="padding: 14px">
            <span class="txt">{{"placeholder title"}}<time class="time">{{ currentDate }}</time></span>
            <div class="justify-content-between">
              <el-button type="icon" icon="el-icon-star-off"></el-button>
              <el-button type="icon" icon="el-icon-top"></el-button>
              <el-button type="icon" icon="el-icon-bottom"></el-button>
              <el-button type="icon" icon="el-icon-chat-line-round"></el-button>
              <el-button type="icon" icon="el-icon-share"></el-button>
              <el-button type="icon" icon="el-icon-more"></el-button>
            </div>
          </div>
        </el-card>
      </el-row>
  </div>
  </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'store',
  // OR
  layout(context) {
    return 'store'
  },
}
</script>

