$blue-cold : #69a7d3
$blue-deep :  #3489d8
$green-nature: #3ada89
$orange-dawn: #fb9885
$yellow-sun:#ffcd78
$pink-pleasure:#f7b0d0

@font-face
    font-family: "Forte"
    src: url("~/assets/fonts/FORTE.TTF")

@font-face
    font-family: "Garlic-Sans-Regular"
    src: url("~/assets/fonts/Garlic-Sans-Regular.ttf")


.bg-blue-cold
    background-color: $blue-cold
.bg-blue-deep
    background-color: $blue-deep
.bg-green
    background-color: $green-nature
.bg-google
    background-color: #f44336
.bg-facebook
    background-color: #3f51b5
.bg-twitter
    background-color: #29b6f6

.btn-hover
    transition: all 0.2s linear
.btn-hover:hover
    transition: all 0.2s linear
    filter: saturate(3)


.h-100
    height: 100%

html
    background-color: $blue-cold
    color: white

.font-small
    font-size: small

.font-normal
    font-size: normal

.font-large
    font-size: large

.font-xlarge
    font-size: xx-large

h1,h3,.forte
    font-family: "Forte"

.border-green
    border-color: $green-nature

.padding-header
    padding-right : 50px

.txt
    font-family: "Garlic-Sans-Regular"

.txt-green
    color: $green-nature

.linear
    transition: all 0.2s linear

.login-bg
    display: inline
    width: 100px
    height: auto

.padiconhome
    padding-top:2px

.padicontrend
    padding-top:4px

.padicontrail
    padding-top:4px

.padiconprofile
    padding-top:2px
    padding-right : 150px

.padiconsearch
    padding-top:0px
