<template>
    <pre>
        {{trail}}
    </pre>
</template>
<script>
export default {
  async asyncData(ctx) {
    const trail = await ctx.$axios.$get('http://localhost:3030/trails/'+ctx.params.id)
    return {
        trail: trail,
    }
  },
}
</script>