<template>
    <pre>
        <div v-for="item in trails" :key="item">
          
        </div>
    </pre>
</template>
<script>
export default {
  async asyncData(ctx) {
    const trails = await ctx.$axios.$get('http://localhost:3030/trails/')
    return {
        trails: trails,
    }
  },
}
</script>