<template> 
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-blue-cold border-bottom box-shadow mb-0">
            <div class="container">
                <a class="justify-content-center forte font-xlarge padding-header" href="/main">Hill Climber</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div id="header-collapse" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">                        
                        <li class="nav-item padding-header padiconhome">
                           <img src="https://media.discordapp.net/attachments/811589158195429427/811969816893587476/unknown.png" alt="home" width="40" height="40"/>
                        </li>
                        <li class="nav-item padding-header padicontrend">
                            <img src="https://media.discordapp.net/attachments/811589158195429427/811969868224004106/unknown.png" alt="trending" width="40" height="40"/>
                        </li>
                        <li class="nav-item padding-header padicontrail">
                            <img src="https://media.discordapp.net/attachments/811589158195429427/811969915976155139/unknown.png" alt="trails" width="40" height="40"/>
                        </li>
                        <li class="nav-item padding-header padiconprofile">
                            <img src="https://media.discordapp.net/attachments/811589158195429427/811969964503728188/unknown.png" alt="profile" width="60" height="40"/>
                        </li>
                        <li class="nav-item padding-header padiconsearch">
                            <img src="https://media.discordapp.net/attachments/811589158195429427/811969995465556028/unknown.png" alt="search" width="40" height="40"/>
                        </li>
                        <li class="nav-item padding-header">
                            <img src="https://media.discordapp.net/attachments/811589158195429427/811970022062030888/unknown.png" alt="message" width="40" height="40"/>
                        </li>
                        <li class="nav-item padding-header">
                            <img src="https://media.discordapp.net/attachments/811589158195429427/811970080685948978/unknown.png" alt="menu" width="40" height="40"/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>