<template>
  <div id="card">
    <el-row>
      <el-col
        :span="8"
        v-for="(o, index) in 2"
        :key="o"
        :offset="index > 0 ? 2 : 0"
      >
        <el-card :body-style="{ padding: '0px' }">
          <span>{{"placeholder name"}}</span>
          <img
            src="https://cdn.discordapp.com/attachments/811589158195429427/811939674426834984/patronej1.png"
            class="image"
          />
          <div style="padding: 14px">
            <span>{{"placeholder title"}}<time class="time">{{ currentDate }}</time></span></span>
            <div class="bottom clearfix">
              <el-button type="icon" icon="el-icon-star-off"></el-button>
              <el-button type="icon" icon="el-icon-top"></el-button>
              <el-button type="icon" icon="el-icon-bottom"></el-button>
              <el-button type="icon" icon="el-icon-chat-line-round"></el-button>
              <el-button type="icon" icon="el-icon-share"></el-button>
              <el-button type="icon" icon="el-icon-more"></el-button>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>







<script>
export default {
  props: {
    icon: { type: String, default: '' },
    height: { type: [String, Number], default: 256 },
  },
  computed: {
    styles() {
      return {
        'min-height': this.height + 'px',
      }
    },
  },
}
</script>

<style>
.ui-placeholder {
  position: relative;
  border-radius: 6px;
  background-color: #ddd;
  color: #c6c6c6;
}

* + .ui-placeholder {
  margin-top: 20px;
}

.ui-placeholder-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  line-height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  font-size: 64px;
}

.ui-placeholder-content {
  color: #000;
}
</style>
